*{
    margin: 0;
    padding: 0;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.753);
}


body{
    height: auto;
    width: 100%;
    margin-bottom: 62px;
    color: rgba(0, 0, 0, 0.753);
    user-select: none;
}


/* dark mode */

body.dark {
    background-color: #1c2c29;
    color: cornsilk; 
}

body.dark h1, body.dark p, body.dark h2, body.dark small {
    color: cornsilk;
}

body.dark a ,body.dark input, body.dark textarea, body.dark button {
    color: cornsilk;
}

body.dark.switch{
    transform: translateX(18px);
    background-color: black;
}

body.dark.label{
    border: 3px solid rgb(116, 175, 177);
}

.dark .contact-header {
    background-color: #1c2c29;
}

.dark .contact-container {
    background-color: #1c2c29;
}

.dark .btn {
    background-color: #1c2c29;
}


/* dark mode end */

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.container{
    margin: 20px;
}

.logo{
    border-top: 5px solid cadetblue;
    border-bottom: 5px solid cadetblue;
    padding-bottom: 12px;
    font-size: clamp(33px, 7vw, 45px);
    font-weight: bolder;
}

.night{
    margin: 33px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label{
    border: 3px solid rgb(116, 175, 177);
}

.checkbox:checked + .label .switch {
    transform: translateX(18px);
    background-color: black;
}

.label{
    border: 3px solid rgb(198, 198, 199);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    height: 26px;
    width: 46px;
}

.switch{
    background-color:rgb(143, 143, 145);
    position: absolute;
    border-radius: 50%;
    left: -4px;
    height: 30px;
    width: 30px;
    transition: transform 0.1s linear;
    cursor: pointer;
}

.fa-moon{
    color: #f1c40f;
    position: absolute;
    top: 7px;
    left: 6.8px;
}

.web-menu {
    display: none;
}

.menu{
    z-index: 10;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(151, 192, 194);
    display: flex;
    overflow-x: auto;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 13px;
    -webbkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}


.introduce{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

main{
    margin: 20px;
}

.hello{
    font-size: clamp(28px, 6vw, 60px);
}

.photo {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.title{
    display: inline-block;
    margin: 0 10px 25px 15px;
    border-bottom: 2px dashed rgba(88, 87, 87, 0.726);
    font-size: clamp(30px, 1vw, 40px);
}

footer{
    width: 100%;
    height: auto;
}

.hire-btn{
    text-align: center;
    height: 150px;
}

.hire-btn a{
    line-height: 150px;
    font-size: 25px;
    border-radius: 50px;
    background-image: linear-gradient(to right,rgb(153, 205, 206), cadetblue, rgb(153, 205, 206));
    height: 40px;
    text-align: center;
    padding: 6px 70px;
    width: 100%;
    color: snow;
    cursor: pointer;
    background-size: 200%;
    transition: 0.6s;
}

.hire-btn a:hover{
    background-position: right;
}

footer {
    height: 20px;
    position: relative;
    text-align: center;
}

.copyright{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* profile page */



.profile{
    height: 500px;
}

.frame {
    height: 100px;
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
    border: 2px solid rgba(21, 141, 141, 0.753);
    border-radius: 6px;
}

.frame h4{
    color: cadetblue;
    font-size: 16px;
    margin: 5px;
}

.frame p{
    font-weight: bolder;
    margin-top: 10px;
}

.fullname p{
    font-size: 28px;
    margin-top: 15px;
}

.country {
    width: 40%;    
    display: inline-block;
}

.country p, .language p{
    font-size: 20px;
    margin-top: 18px;
}

.language {
    width: 59%; 
    display: inline;
    float: right;
}

.college {
    font-size: 18px;
}

.character {
    width: 59%;
    font-size: 18px;
    display: inline;
    float: left;
}

.resume a {
    display: inline;
    float: right;
    width: 40%;
    font-size: 22px;
    text-align: center;
    line-height: 97px;
    background-color: rgba(119, 180, 184, 0.774);
    cursor: pointer;
    border: 2px solid rgba(21, 141, 141, 0.753);
    border-radius: 6px;
    margin-bottom: 5px;
}

/* profile-end */

/* contact-form */

.contact-form{
    background-image: linear-gradient( cadetblue, rgb(182, 223, 224));
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.contact-container{
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 98%;
    max-width: 100%;
}

.contact-header{
    background-color: #f7f7f7;
    border-bottom: 3px dashed cadetblue;
    padding: 20px 40px;
}

.contact-header h2{
    margin: 0;
}

.form{
    padding: 30px 40px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input, textarea{
    border: 2px solid cadetblue;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form button{
    background-color: cadetblue;
    border: 2px solid cadetblue;
    color: white;
    display: block;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px;
    font-family: inherit;
    cursor: pointer;
}

/* contact-form end*/

/* skill */
.progress{
    width: 100%;
    background-color: rgba(82, 184, 158, 0.178);
    border-radius: 20px;
    margin: 18px 0px;
    height: 25px;
}

.progress-bar{
    height: 100%;
    width: 0;
    background-color: rgba(88, 180, 168, 0.425);
    border-radius: 20px;
    position: relative;
    transition: all 1.5s;
}

.progress-bar span{
    font-weight: bold;
    font-size: 14px;
    color: rgb(36, 36, 36);
    position: absolute;
    top: 15%;
    right: 2%;
}

.skill p{
    font-size: clamp(18px, 2vw, 25px);
}


.html{
    color: rgb(240, 101, 41);
}

.css{
    color: rgb(41, 101, 241);
}

.js{
    color: rgb(240, 219, 79);
}

.react{
    color: rgb(97, 219, 251);
}

.node{
    color: rgb(104, 160, 99);
}

.vue{
    color: rgb(65, 184, 131);
}

.aws{
    color: rgb(255, 153, 0);
}

.sql{
    color: rgb(0, 117, 143);
}

.coming {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}



@media screen and (min-width: 520px){
    

    main {
        margin-top: 70px;
    }

    .hello {
        font-size: 50px;
    }

    .photo {
        display: block;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
    }

    .hire-btn a {
        padding: 12px 200px;
    }

    .profile, .skill {
        width: 75%;
        margin: auto;
    }

    /* contactform */

    .contact-container {
        width: 500px;
    }

    .form {
        width: 90%;
        margin: auto;
    }

    
    .contact-form {
        min-height: 80vh;
    }

    /* contactform end */
}

@media screen and (min-width: 1100px){
    body {
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
    }
    
    .menu{
        display: none;
    }

    .web-menu {
        display: initial;
        text-align: center;
        font-size: 25px;
        width: 1500px;
        height: 100px;
        line-height: 100px;
    }

    .web-menu {
        display: flex;
        justify-content: center;
    }

    .web-menu ul{
        display: flex;
        justify-content: space-between;
    }

    .web-menu ul li a{
        margin: 20px 35px;
        line-height: 100px;
    }

    nav a:hover {
        display: initial;
        border: black;
    }

    nav a.active {
        background-color: rgba(26, 177, 157, 0.274);
        border-radius: 5px;
        padding: 10px;
        margin: 0 ;
    }
    

    .home {
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .introduce {
        margin: 0;
    }


    .photo {
        order: 1;
        display: block;
        width: 40%;
        margin-right: auto;
        margin-left: auto;

    }

    .hire-btn{
        height: 150px;
    }
    
    .hire-btn a{
        line-height: 150px;
        font-size: 25px;
        border-radius: 50px;
        background-image: linear-gradient(to right,rgb(153, 205, 206), cadetblue, rgb(153, 205, 206));
        height: 40px;
        text-align: center;
        padding: 16px 230px;
        width: 100%;
        color: snow;
        cursor: pointer;
        background-size: 200%;
        transition: 0.6s;
    }
    
    .hire-btn a:hover{
        background-position: right;
    }

    .profile, .skill{
        width: 55%;
        margin: auto;
    }

    .skill {
        font-size: 30px;
    }

    /* contactform */

    .contact-container {
        width: 800px;
    }

    .form {
        width: 70%;
        margin: auto;
    }

    .contact-form {
        min-height: 80vh;
    }

    /* contactform end */
    
    footer {
        height: 100px;
    }

}